/* You can add global styles to this file, and also import other style files */

.p-sidebar-top {
  height: auto !important;
  min-height: 60px;
}

.p-sidebar-left {
  width: auto !important;
  min-width: 120px;

  .p-sidebar-header,
  .p-sidebar-content {
    padding: 0;
  }

  .p-panelmenu {
    width: 200px;
  }
}

.p-sidebar-left {
  // z-index: 998!important;
  top: 70px !important;
  box-shadow: 0 0 6px 0 rgb(0 0 0 / 16%);
}

.content-wrapper {
  margin-left: 200px;
  padding-top: 70px;
  min-height: calc(100vh - 41px);

  @media (max-width: 991px) {
    margin-left: 0;
  }
}

.notificationmenu {
  left: unset !important;
  right: 0;
  width: 285px;
  border-radius: 0;
  top: 58px !important;
  padding: 0;

  .p-menuitem-icon {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .mainHead {
    font-size: 12px;
    display: block;
    font-weight: 500;
    color: #666666;
    margin-bottom: 3px;
  }

  .subhead {
    font-size: 12px;
    display: block;
    color: #65656a;
  }
}

.imageIcon {
  background-image: url(./assets/images/avatar.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.profilemenu {
  left: unset !important;
  right: 0;
  width: 250px;
  border-radius: 0;
  top: 58px !important;
  padding: 0;
}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
  width: 100%;
  padding-right: var(--bs-gutter-x,.75rem);
  padding-left: var(--bs-gutter-x,.75rem);
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px){
  .container, .container-sm {
    max-width: 540px;
}
}

@media (min-width: 768px) {
  .container,
  .container-md,
  .container-sm {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1140px;
  }
}

// forms 

.form-group{
  width: 100%;
  margin-bottom: 15px;
  input{
    width: 100%;
  }
  label{
    display: block;
    font-size: 14px;
    margin-bottom: 10px;
    font-weight: 400;
  }
}

.content-section{
  padding: 1rem;
}
